.places {
  max-width: 984px;
  justify-self: center;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(auto-fit, 1fr);
  gap: 80px 0;
}

@media screen and (max-width: 1124px) {
  .places {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 984px) {
  .places {
    padding-top: 88px;
    gap: 73px 0;
  }
}

@media screen and (max-width: 568px) {
  .places {
    width: 100%;
    padding-top: 64px;
    gap: 50px 0;
  }
}
