.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

@media screen and (min-width: 1124px) {
  .footer__container {
    max-width: 1184px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1124px) {
  .footer__container {
    margin: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .footer__container {
    margin: 0 24px;
  }
}

@media screen and (max-width: 700px) {
  .footer__container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 568px) {
  .footer__container {

    gap: 32px 0;
  }
}
