.header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@media screen and (min-width: 1124px) {
  .header__container {
    max-width: 1184px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 1124px) {
  .header__container {
    margin: 0 48px;
  }
}

@media screen and (max-width: 984px) {
  .header__container {
    margin: 0 24px;
  }
}

@media screen and (max-width: 568px) {
  .header__container {
    margin: 0 16px;
  }
}
