.place {
  display: grid;
  grid-template-columns: minmax(auto, 460px) 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 48px 40px;
  font-family: 'Inter','Arial', 'Helvetica', sans-serif;
}

@media screen and (max-width: 1124px) {
  .place {
    grid-template-columns: minmax(auto, 440px) 1fr;

  }
}

@media screen and (max-width: 984px) {
  .place {
    grid-template-columns: minmax(auto, 340px) 1fr;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 568px) {
  .place {
    grid-template-columns: 100%;
    gap: 32px 0;
  }
}
